@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Cookie&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 600;
  font-style: normal;
}

img {
    display: block;
    margin: auto;
    display: block;
    padding: 20px 0
    }
    
header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
   text-align: center;
   background-color: lightcoral;
       
}
nav button{
    background-color: violet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: x-large;
    border-radius: 10px;
}
nav button a{
    text-decoration: none;
}

body{
    background-color: lightcoral
}

body nav ul {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: whitesmoke;
    padding: 20px 0;
    background-color: whitesmoke

   }
body div{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0 30px;
    border: 2px solid black;
    margin: 20px 20px;
}

body section{
    font-family: Arial, Helvetica, sans-serif;
}
body section p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    padding: 20px 0;
    background-color: whitesmoke;
}
body article{
    text-align: center;
}

ol li{
    font-size: large;
       margin: 0 500px;
}
body h6{
    text-align: center;
    font-size:large;
        margin: 10px 0;
}
footer h4{
    font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: larger;
        padding: 50px 0;
        background-color: gray;
    }