
img {
    display: block;
    margin: auto;
    display: block;
    padding: 20px 0
    }
    
header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
   text-align: center;
   background-color: lightcoral;
       
}
nav button{
    background-color: violet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: x-large;
    border-radius: 10px;
}
nav button a{
    text-decoration: none;
}

body{
    background-color: lightcoral
}

body nav ul {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    background-color: whitesmoke;
    padding: 20px 0;
    background-color: whitesmoke

   }
body div{
    font-family:Arial, Helvetica, sans-serif;
    padding: 0 30px;
    border: 2px solid black;
    margin: 20px 20px;
}

body section{
    font-family: Arial, Helvetica, sans-serif;
}
body section p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    padding: 20px 0;
    background-color: whitesmoke;
}
body article{
    text-align: center;
}
body h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-align: center;
}
footer h4{
    font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: larger;
        padding: 50px 0;
        background-color: gray;
    }